pandas~=0.24.2
cvxopt~=1.2.0
scipy==1.2
matplotlib~=3.2.2
pandas-datareader>=0.7.0
scikit-learn~=0.23.2

pytest~=5.4.3
numpy~=1.19.2
setuptools~=49.2.1
cvxpy~=1.1.7
pykalman~=0.9.5
line_profiler~=2.1.2